body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #dbe3e3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #d4ebf1;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    max-width: 800px;
    /* margin: 40px auto; */
    margin-top:5px ;
    overflow: hidden;
}



.image-container img{
    width: 100%;
    height: auto; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
} 
 


.form-container {
    padding: 30px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-container input, .form-container select, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container input[type="radio"] {
    margin-right: 10px;
}

.error {
    color: red; /* Change the color of the error message */
    font-size: 14px; /* Change the font size */
    font-weight: bold; /* Optional: Makes the error bold */
    margin-top: 5px; /* Adds some space between the field and error message */
}

/* Footer Styles */
footer {
    {% comment %} background-color: rgb(53 124 134); {% endcomment %}
    background-color: rgb(50 139 151);
    color: white;

    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}



#gender-image-container img {
max-width: 100%; /* Ensure the image does not overflow its container */
height: auto; /* Maintain aspect ratio */

}


@media (max-width: 768px) {
    .image-container {
        height: 250px;
    }

    .form-container {
        padding: 20px;
    }

    footer p {
        font-size: 14px; /* Smaller font size for smaller screens */
}