{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% comment %} <link rel="stylesheet" href="/styles.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <title>Donor Selection Form</title>
</head>


<body>
    <div class="container">
        <!-- Image Div -->
        <div class="image-container">
            <img src="/media/img1.jpg" alt="image" />
        </div>

        <!-- Form Div -->
        <div class="form-container">
            <h2>Donor Selection Form</h2>
            <form method="post" novalidate>
                {% csrf_token %}

                <div class="mb-1">
                    <label for="id_full_name" class="form-label">1. What's your full name?</label>
                    {{ form.full_name }}
                    {% comment %} <input type="text" name="full_name" class="form-control"  font-size: 18px;" id="id_full_name"> {% endcomment %}

                    {% if form.full_name.errors %}
                    <div class="error">
                        {% for error in form.full_name.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>


                <div class="mb-1">
                    <label for="id_gender" class="form-label">2. What is your gender?</label>
                    {{ form.gender }}
                    {% if form.gender.errors %}
                    <div class="error">
                        {% for error in form.gender.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-1">
                    <label for="id_mobile_number" class="form-label">3.Your Mobile No</label>
                    {{ form.mobile_number }}
                    {% if form.mobile_number.errors %}
                    <div class="error">
                        {% for error in form.mobile_number.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-1">
                    <label for="id_email" class="form-label">4. What's your email address?</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="error">
                        {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

                <div class="mb-1">
                    <label for="id_date_of_birth" class="form-label">5. Date of Birth</label>
                    {{ form.date_of_birth }}
                    {% if form.date_of_birth.errors %}
                    <div class="error">
                        {% for error in form.date_of_birth.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>


                <div class="mb-2">
                    <label for="id_height_feet" class="form-label">6. How tall are you?</label>
                    <div class="d-flex">
                        <!-- Feet input -->
                        <div class="me-2">
                            <label for="id_height_feet">Feet</label>
                            {{ form.height_feet }}
                        </div>

                        <!-- Inches input -->
                        <div>
                            <label for="id_height_inches">Inches</label>
                            {{ form.height_inches }}
                        </div>
                    </div>
                    {% if form.height_feet.errors %}
                    <div class="error">
                        {% for error in form.height_feet.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if form.height_inches.errors %}
                    <div class="error">
                        {% for error in form.height_inches.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>


                <div class="mb-1">
                    <label for="id_weight" class="form-label">7. What is your current weight? (in kg)</label>
                    {{ form.weight }}
                    {% if form.weight.errors %}
                    <div class="error">
                        {% for error in form.weight.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-1">
                    <label for="id_description" class="form-label">8. What best describes you?</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                    <div class="error">
                        {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!-- --------------------change of other description------------------------- -->
                <div class="mb-1" id="other_description" style="display: none;">
                    <label for="id_other_category" class="form-label">8.a. Specify your describes</label>
                    {{ form.other_description }}
                </div>


                <div class="mb-1">
                    <label for="id_category" class="form-label">9. Select your Category</label>
                    {{ form.category }}
                    {% if form.category.errors %}
                    <div class="error">
                        {% for error in form.category.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!-- --------------------change of other category------------------------- -->
                <div class="mb-1" id="other_category_input" style="display: none;">
                    <label for="id_other_category" class="form-label">9.a. Specify Category</label>
                    {{ form.other_category }}
                </div>


                <div class="mb-1">
                    <label for="id_coach_name" class="form-label">10. Name of your Coach/Trainer</label>
                    {{ form.coach_name }}
                    {% if form.coach_name.errors %}
                    <div class="error">
                        {% for error in form.coach_name.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="footer">
                    <button type="submit" class="primary">Next</button>
                </div>
            </form>

        </div>

        <!-- Footer Section -->

    </div>


    <footer>
        <p>Powered by Winline Technologies Private Limited</p>
        <p>Contact us at: <a href="https://www.winlinetech.com/" target="_blank"
                style="color: #fff;">www.winlinetech.com</a></p>
    </footer>


<!-- Hide errors at real time when user fill the value inside a field -->
<script>
    document.addEventListener('DOMContentLoaded',function() {
        const formFields = document.querySelectorAll(".mb-1");
        //console.log(`formFields: ${Array.from(formFields)}`);

        formFields.forEach(function(field){
            //console.log(`Each Field detail: ${field.innerHTML}`);  // gives the all attribute inside each object
            const errorContainer = field.querySelector('.error')
            const inputField = field.querySelector('input, select, textarea'); // Find input, select, or textarea inside the div
            
           if (errorContainer){
                inputField.addEventListener('input', function(){
                    if (inputField.value.trim() !== '')
                        {
                            errorContainer.style.display = 'none';
                        }
                });
            }
        });
    });
</script>  

<!-- Manually handling height inch and height feet errors to Hide errors at real time when user fill the value inside a field -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const formFields = document.querySelector(".mb-2");
        //console.log(`whole div element: ${formFields.innerHTML}`);

        inputHeight =formFields.querySelector("#id_height_feet");
        inputInch =formFields.querySelector("#id_height_inches");
        //console.log(`Height Feet: ${inputHeight.value}, Height Inches: ${inputInch.value}`);
        
        const errorInputField = formFields.querySelectorAll(".error p");
        //console.log(`Height Feet: ${ errorInputField[0].innerHTML}, Height Inches: ${errorInputField[1].innerHTML}`);
        
        if (errorInputField[0].innerHTML !== '' || errorInputField[1].innerHTML !== ''){
            inputHeight.addEventListener('input', function(){
                errorInputField[0].style.display = 'none';
            });
            inputInch.addEventListener('input', function(){
                errorInputField[1].style.display = 'none';
            });
        }    
    });
</script>




    <!-- JavaScript to restrict typing more than 10 digits and accepting only digit in mobile no field -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const mobileNumberInput = document.getElementById("id_mobile_number");
        
            // Attach an input event listener to the mobile number field
            mobileNumberInput.addEventListener("input", function(event) {
                // Remove any non-numeric characters
                let sanitizedValue = this.value.replace(/[^0-9]/g, "");
        
                // Update the input field with sanitized value
                this.value = sanitizedValue;
        
                // If the length exceeds 10, truncate it to 10 digits
                if (sanitizedValue.length > 10) {
                    this.value = sanitizedValue.slice(0, 10);
                }
            });
        });
    </script>

    <!-- JavaScript to restrict dates last 15 year from the reference to current date-->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const dateField = document.querySelector('#id_date_of_birth');  // Select the date input
                if (dateField) {
                    {% comment %} const today = new Date().toISOString().split('T')[0]; {% endcomment %}
                    const today = new Date();
                    const fifteenYearsAgo = new Date(today.getFullYear() - 15, today.getMonth(), today.getDate());
                    maxdate = fifteenYearsAgo.toISOString().split('T')[0];
                    console.log(`Max date ${maxdate}`);
                    
                    dateField.setAttribute('max', maxdate);  // Set the max attribute to today's date
                }
            });
        </script>
    


    <!-- JavaScript to focus on error field-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorField = document.querySelector('.error');
            if (errorField) {
                errorField.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        });
    </script>

    <!-- JavaScript to render other Description field-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const descriptionField = document.getElementById('id_description');
            const otherDescriptionInput = document.getElementById('other_description');

            function toggleOtherDescription() {
                if (descriptionField.value === 'Other') {
                    otherDescriptionInput.style.display = 'block';
                } else {
                    otherDescriptionInput.style.display = 'none';
                }
            }

            descriptionField.addEventListener('change', toggleOtherDescription);
            toggleOtherDescription();  // Initialize on page load
        });
    </script>

    <!-- JavaScript to render other category field-->
    <script>
        document.getElementById('id_category').addEventListener('change', function () {
            var otherCategoryInput = document.getElementById('other_category_input');
            if (this.value === 'Other Sports') {
                otherCategoryInput.style.display = 'block';  // Show the text input when 'Others' is selected
            } else {
                otherCategoryInput.style.display = 'none';   // Hide the text input when 'Others' is not selected
            }
        });
    </script>


<!-- Add Flatpickr CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>